* {
    margin: 20px;
    padding: 5px;
    box-sizing: border-box;
}

.nav {
    display: flex;
    border-top: 1px solid #c7c7c7;
}

.navbar {
    display: flex;
    width: 10%;
    cursor: pointer;
    padding: 10px;
}

.navbar2 {
    width: 70%;
    padding: 10px;
}

.navbar2_1 {
    width: 10%;
    padding: 10px;
}

.fontgray {
    display: flex;
    justify-content: center;
    color: gray;
    padding-bottom: 30px;
    border-bottom: 1px solid #c7c7c7;
}

.center {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.shoppack {
    display: flex;
    justify-content: center;
    color: slateblue;
    padding-top: 50px;
}

.title {
    font-size: 40px;
    margin-left: 20px;
}