.back {
    background-image: url(./image/b4.jpg);
    background-position: center;
    background-size: 49%;
    background-repeat: no-repeat;
    background-color: #311708;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom: 15px;
}

.boxBack {
    margin: 15px;
    width: 30%;
    height: 100%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.342);
}

.boxNav {
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    font-family: "Gowun Dodum", sans-serif;
    font-style: normal;

}

.white1 {
    color: white;
    font-size: 15px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 17px;
    font-family: "Gowun Dodum", sans-serif;
    font-style: normal;
}

.white2 {
    color: white;
    font-size: 15px;
    font-weight: normal;
    font-family: "Gowun Dodum", sans-serif;
    font-style: normal;
}

.center {
    text-align: center;
    color: #311708;
    font-weight: bold;
}