.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.rvtitle {
    font-weight: bolder;
    font-size: 18px;
    width: 16rem;
    margin-top: 15px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
}

.hover {
    width: 16rem;
    height: 22rem;
    margin: 15px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rvimg {
    width: 16rem;
    height: 16rem;
    object-fit: fill;
    overflow:hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.rvcontent{
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
}
